#header1-1 P {
  color: #2c82c9;
  font-size: 17px;
}
#header1-1 H1 {
  color: #2c82c9;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#features1-5 P {
  text-align: center;
}
