@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-1 SPAN {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
}
#header1-1 P {
  text-align: left;
  color: #ffffff;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-article P {
  text-align: right;
  font-size: 18px;
  color: #eb6b56;
}
#msg-box3-6 .mbr-article BLOCKQUOTE {
  font-size: 20px;
  color: #eb6b56;
}
#content5-9 .caption h3 SPAN {
  color: #ffffff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#msg-box5-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-13 .mbr-article {
  color: #ffffff;
}
#msg-box5-12 .mbr-header__text {
  color: #2196f3;
}
#msg-box5-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-12 .mbr-article {
  color: #ffffff;
}
#msg-box5-12 .mbr-article P {
  color: #2196f3;
}
#msg-box4-10 .mbr-header__text {
  color: #28324e;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #28324e;
}
#msg-box4-10 .mbr-article P {
  color: #28324e;
}
#msg-box4-11 .mbr-header__text {
  color: #b8312f;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-11 .mbr-article P {
  color: #b8312f;
}
#social-buttons2-11 .mbr-header__text {
  color: #ffffff;
}
